<ion-view title="mainPage" hide-nav-bar="true">
  <ion-content class="main-bg">
    <div class="wrapper">
    <div class="row">
      <div class="col">
        <div id="logo-wrapper"><img src="../img/logo-tp.png" id="logo-main" /></div>
        <h1 class="main-header">Thumbprint</h1>
      </div>
    </div>
    <form ng-submit="addSession(newUser)">
      <div class="list list-inset">
        <span class="errors">{{ error }}</span>
        <label class="item item-input">
          <input type="text" placeholder="email" ng-model="newUser.email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="password" ng-model="newUser.password">
        </label>
        <div class="row">
          <div class="col" id="login-col">
            <button class="button button-block button-positive" type="submit">LOGIN</button>
          </div>
          <div class="col">
            <a class="button button-block button-positive" id="button-purple" href="#/signup">SIGN UP</a>
          </div>
      </div>
    </form>
    <div class="push"></div>
    </div>
    <footer>
      <div class="row">
        <div class="col">Become A Registered Voter</div>
      </div>
    </footer>
  </ion-content>
</ion-view>