<ion-view title="Signup" class="main-bg">
  <ion-content class="has-header">
    <form ng-submit="createUser(newUser)">
      <div class="list list-inset">
        <label class="item signup item-input">
          <input type="text" placeholder="First Name" ng-model="newUser.first" required>
        </label>
        <label class="item signup item-input">
          <input type="text" placeholder="Last Name" ng-model="newUser.last">
        </label>
        <label class="item signup item-input">
          <input type="text" placeholder="Zip (full zipcode ex. 07704-3203)" ng-model="newUser.zip" required>
        </label>
        <label class="item signup item-input item-select">
          <div class="input-label">
            Education
          </div>
          <select ng-model="newUser.education" required>
            <optgroup label="Science and engineering">
              <option value="Computers, Mathematics, and Statistics">Computers, Mathematics, and Statistics</option>
            </optgroup>
            <optgroup label="Business">
              <option value="Business">Business (includes business management, accounting, general
business)</option>
            </optgroup>
            <optgroup label="Education">
              <option value="education">Education (includes elementary education, general education)</option>
            </optgroup>
          </select>
        </label>
        <label class="item signup item-input item-select">
          <div class="input-label">
            Occupation
          </div>
          <select ng-model="newUser.occupation" required>
            <optgroup label="Management">
              <option value="Chief Executives">Chief executives</option>
              <option value="Legislators">Legislators</option>
              <option value="Marketing and sales">Marketing and sales</option>
            </optgroup>
            <optgroup label="Computer and Mathematical">
              <option value="Computer systems analysts">Computer systems analysts</option>
              <option value="Web developers">Web developers</option>
            </optgroup>
            <optgroup label="Legal">
              <option value="Judges, Magistrate Judges, Magistrates">Judges, Magistrate Judges, Magistrates</option>
              <option value="Lawyers">Lawyers</option>
            </optgroup>
          </select>
        </label>
        <label class="item signup item-input">
          <input type="text" placeholder="Email" ng-model="newUser.email" required>
        </label>
        <span class="errors">{{ email }}</span>
        <label class="item signup item-input">
          <input type="password" placeholder="Password" ng-model="newUser.password" required>
        </label>
        <span class="errors">{{ password }}</span>
        <label class="item signup item-input">
          <input type="password" placeholder="Password Confirmation" ng-model="newUser.password_confirmation" required>
        </label>
        <div>
          <button class="button button-block button-positive" type="submit">CREATE ACCOUNT</button>
        </div>
        <div style="text-align: center">
          <a href="#/">Already have an account?</a>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>