<ion-view title="Thumbprint" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <h4>Signed in as: <strong>{{ user.first + user.last }}</strong></h4>
   <!--  <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="attendance in attendances">
      	<ion-delete-button class="ion-minus-circled" ng-click="deleteAttendance(attendance.id)"></ion-delete-button>
        <strong>{{ attendance.name }}</strong> - {{ attendance.secret }} - <strong>{{ attendance.created_at | date:'h:mma' }}</strong>
      </ion-item>
    </ion-list>
    <ion-toggle ng-model="shouldShowDelete" ng-show="user.admin">
      Show Delete?
    </ion-toggle> -->
  </ion-content>
</ion-view>
