    <div class="card">
      <div class="item bill-cards item-text-wrap">
        <h3>H.R.596 — 114th Congress (2015-2016)</h3>
        
        <p>This bill repeals the Patient Protection and Affordable Care Act, effective as of its enactment. Provisions of law amended by that Act are restored. This bill repeals the health care provisions of the Health Care and Education and Reconciliation Act of 2010, effective as of...</p>
        
        <p><a href="#">Read more</a> | <a href="#">Add to favorites</a></p>
      </div>
    </div>
    <div class="card">
      <div class="item bill-cards item-text-wrap">
        <h3>H.R.596 — 114th Congress (2015-2016)</h3>
        
        <p>This bill repeals the Patient Protection and Affordable Care Act, effective as of its enactment. Provisions of law amended by that Act are restored. This bill repeals the health care provisions of the Health Care and Education and Reconciliation Act of 2010, effective as of...</p>
        
        <p><a href="#">Read more</a> | <a href="#">Add to favorites</a></p>
      </div>
    </div>
    <div class="card">
      <div class="item bill-cards item-text-wrap">
        <h3>H.R.596 — 114th Congress (2015-2016)</h3>
        
        <p>This bill repeals the Patient Protection and Affordable Care Act, effective as of its enactment. Provisions of law amended by that Act are restored. This bill repeals the health care provisions of the Health Care and Education and Reconciliation Act of 2010, effective as of...</p>
        
        <p><a href="#">Read more</a> | <a href="#">Add to favorites</a></p>
      </div>
    </div>
    <div class="card">
      <div class="item bill-cards item-text-wrap">
        <h3>H.R.596 — 114th Congress (2015-2016)</h3>
        
        <p>This bill repeals the Patient Protection and Affordable Care Act, effective as of its enactment. Provisions of law amended by that Act are restored. This bill repeals the health care provisions of the Health Care and Education and Reconciliation Act of 2010, effective as of...</p>
        
        <p><a href="#">Read more</a> | <a href="#">Add to favorites</a></p>
      </div>
    </div>
    <div class="card">
      <div class="item bill-cards item-text-wrap">
        <h3>H.R.596 — 114th Congress (2015-2016)</h3>
        
        <p>This bill repeals the Patient Protection and Affordable Care Act, effective as of its enactment. Provisions of law amended by that Act are restored. This bill repeals the health care provisions of the Health Care and Education and Reconciliation Act of 2010, effective as of...</p>
        
        <p><a href="#">Read more</a> | <a href="#">Add to favorites</a></p>
      </div>
    </div>