/* remove later */
.black {
	color: #000;
}
* {
  font-family: 'Karla', sans-serif;
  margin: 0;
}

html, body {
	height: 100%;
}

a {
	color: #FFF;
}

.item p { 
	color :#FFF;
}

.item h3 {
	color: #FFF;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

footer, .push {
	height: 4em;
}

footer {
	text-align: center;
	padding-top: 15px;
	color: #FFF;
}

.main-bg {
	background: -webkit-linear-gradient(0deg, #3F3054 10%, #7F9AB0 90%); /* Chrome 10+, Saf5.1+ */
	  background:    -moz-linear-gradient(0deg, #3F3054 10%, #7F9AB0 90%); /* FF3.6+ */
	  background:     -ms-linear-gradient(0deg, #3F3054 10%, #7F9AB0 90%); /* IE10 */
	  background:      -o-linear-gradient(0deg, #3F3054 10%, #7F9AB0 90%); /* Opera 11.10+ */
	  background:         linear-gradient(0deg, #3F3054 10%, #7F9AB0 90%); /* W3C */
}

#logo-main {
	border-radius: 50%;
	width: 125px;
}

#logo-wrapper {
	display: table;
	margin: 40px auto 10px;
}

.main-header {
	text-align: center;
	font-family: 'Karla', sans-serif;
	color: #FFF;
	text-shadow: 1px 1px 0px #5F2C82;
	font-size: 40px;
	letter-spacing: 5px;
		font-weight: bold;
}

.has-sub-header {
	padding-top: 35px;
}

.main-logo {
	text-align: center;
	color: #FFF;
	text-shadow: 1px 1px 0px #5F2C82;
	font-size: 50px;
}

.ion-ico-margin {
	margin-right: 5px;
}

.errors {
	color: red;
	font-weight: bold;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"],
 input[type="datetime-local"], input[type="date"], input[type="month"],
  input[type="time"], input[type="week"], input[type="number"],
   input[type="email"], input[type="url"],
    input[type="tel"], input[type="color"] {
	color: #FFF;
}

textarea, input[type="search"], input[type="tel"], input[type="color"] {
  color: #724788;
  background-color: #eee;
}

.input-label {
	color: #AAA;
}

.item-select select {
	background: rgba(0,0,0,0);
	color: #AAA;
}

.item-select select option {
	color: #474747;
}

.list-inset {
	background-color: rgba(0,0,0,0);
}

.item.signup {
	background-color: rgba(0,0,0,.09);
	margin-bottom: 10px;
}

.item.bill-cards {
	background-color: rgba(0,0,0,.3);
	margin-bottom: 10px;
}

.card {
	background-color:rgba(0,0,0,0);
}

.col {
	padding: 0;
}

.row {
	padding: 0;
}

#login-col {
	padding-right: 10px;
}

.button-positive {
	border: none;
}

#button-purple {
	background-color: #724788;
}#button-purple.activated {
	background-color: #57346b;
};
